
p{
  font-size:20px;
  font-family:Garamond, Baskerville, "Times New Roman";
}

h1{font-size:32px;
  font-family:Garamond, Baskerville, "Times New Roman";
}

h2{font-size:24px;
  font-family:Garamond, Baskerville, "Times New Roman";
  position:relative;
  left:300px;
}

div.place{
  font-family:Garamond, Baskerville, "Times New roman";
  font-size:20px;
  position:relative;
  left:300px;
}

div.top{
  font-family:Garamond, Baskerville, "Times New Roman";
  font-size:22px;
  text-align: right;
}

div.name{
  font-family:Garamond, Baskerville, "Times New Roman";
  font-size:34px;
}

div.list{font-family:Garamond, Baskerville, "Times New Roman";
  font-size:20px;
  position:relative;
  left:325px;
} 

div.time{font-family:Garamond, Baskerville, "Times New Roman";
  font-size:20px;
}

