
p{
  font-size:21px;
  font-family:Garamond, Baskerville, "Times New Roman";
}


h1{font-size:32px;
  font-family:Garamond, Baskerville, "Times New Roman";
  margin: 0px 0px -10px 0px;
}

.place{font-size:21px;
  font-family:Garamond, Baskerville, "Times New Roman";

}

#h1{
  color: rgb(205, 92, 92);
}

#h2{
  color: rgb(214,137,16);
}

#h3{
  color: rgb(22,160,133);
}

.alignl{
  float: left;
}
.alignr{
  float: right;
}

p.top{
  font-family:Garamond, Baskerville, "Times New Roman";
  font-size:22px;
  text-align: right;
  margin: 0px 0px 10px 0px;
}

p.name{
  font-family:Garamond, Baskerville, "Times New Roman";
  font-size:34px;
  text-align: right;
}

div.list{font-family:Garamond, Baskerville, "Times New Roman";
  font-size:20px;
  padding-left:80pt;
  padding-right:225pt;
  margin: -15px 0px 0px 0px;
} 

.thingtime{font-family:Garamond, Baskerville, "Times New Roman";
  font-size:24px;
  margin: -15px 0px -10px 0px;
}
.tt{
  padding-left:100pt;
  padding-right:250pt;
}


