
p{
  font-size:20px;
  font-family:Garamond, Baskerville, "Times New Roman";
}

h1{font-size:34px;
  font-family:Garamond, Baskerville, "Times New Roman";
}

h2{font-size:28px;
  font-family:Garamond, Baskerville, "Times New Roman";
}

div.place{
  font-family:Garamond, Baskerville, "Times New roman";
  font-size:20px;
}

div.top{
  font-family:Garamond, Baskerville, "Times New Roman";
  font-size:24px;
}

div.list{font-family:Garamond, Baskerville, "Times New Roman";
  font-size:20px;
}

div.time{font-family:Garamond, Baskerville, "Times New Roman";
  font-size:20px;
}

