p{
  font-size:21px;
  font-family:Garamond, Baskerville, "Times New Roman";
}

h1{font-size:32px;
  font-family:Garamond, Baskerville, "Times New Roman";
  margin: 0px 0px -10px 0px;
  text-align:left;
}

.place{font-size:21px;
  font-family:Garamond, Baskerville, "Times New Roman";
  padding:0;
  margin:0 px 0 px 0 px 0 px;
}

#h1{
  color: rgb(205, 92, 92);
}

#h2{
  color: rgb(214,137,16);
}

#h3{
  color: rgb(22,160,133);
}

.alignl{
  float: left;
  margin: 3px 0px 0px 0px;
}

.alignr{
  float: right;
  margin: 3px 0px 0px 0px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-left:25pt;
  padding-right:25pt;
}

.summary .info {
  display: inline-block;
    font-family:Garamond, Baskerville, "Times New Roman";
  font-size:22px;
}

.info {
  text-align:right;
}

.top{
  font-family:Garamond, Baskerville, "Times New Roman";
  font-size:22px;
  text-align: right;
  margin: 0px 0px 10px 0px;
}

.name{
  font-family:Garamond, Baskerville, "Times New Roman";
  font-size:54px;
  text-align: right;
  margin: 0px 0px 15px 0px;
}

.list{font-family:Garamond, Baskerville, "Times New Roman";
  font-size:20px;
  padding-left:80pt;
  padding-right:225pt;
  margin: -12px 0px 0px 0px;
} 

.thingtime{font-family:Garamond, Baskerville, "Times New Roman";
  font-size:24px;
}

.tt{
  padding-left:100pt;
  padding-right:180pt;
}


