
p{
  font-size:20px;
  font-family:Garamond, Baskerville, "Times New Roman";
}


h1{font-size:32px;
  font-family:Garamond, Baskerville, "Times New Roman";
}

.place{font-size:20px;
  font-family:Garamond, Baskerville, "Times New Roman";
}

.alignl{
  float: left;
}
.alignr{
  float: right;
}

.img{
  text-align: center;}

p.top{
  font-family:Garamond, Baskerville, "Times New Roman";
  font-size:22px;
  text-align: right;
  margin:0px 0px 10px 0px;
}

p.name{
  font-family:Garamond, Baskerville, "Times New Roman";
  font-size:34px;
  text-align: right;
}

div.list{font-family:Garamond, Baskerville, "Times New Roman";
  font-size:20px;
  padding-left:115pt;
  padding-right:225pt;
} 

.thingtime{font-family:Garamond, Baskerville, "Times New Roman";
  font-size:24px;
}
.tt{
  padding-left:100pt;
  padding-right:250pt;
}


