
p{
  font-size:20px;
  font-family:Garamond, Baskerville, "Times New Roman";
}


h1{font-size:32px;
  font-family:Garamond, Baskerville, "Times New Roman";
}

.alignl{
  float: left;
}
.alignr{
  float: right;
}


p.place{
  font-family:Garamond, Baskerville, "Times New Roman";
  font-size:20px;
  
}

p.top{
  font-family:Garamond, Baskerville, "Times New Roman";
  font-size:22px;
  text-align: right;
  margin:0px 0px 10px 0px;
}

p.name{
  font-family:Garamond, Baskerville, "Times New Roman";
  font-size:34px;
  text-align: right;
}

div.list{font-family:Garamond, Baskerville, "Times New Roman";
  font-size:20px;
  position:relative;
  left:200px;
} 

.thingtime{font-family:Garamond, Baskerville, "Times New Roman";
  font-size:22px;
}
.tt{
  padding-left:50pt;
  padding-right:50pt;
}


