
p{
  font-size:20px;
  font-family:Garamond, Baskerville, "Times New Roman";
}

img{float: left;}

h1{font-size:32px;
  font-family:Garamond, Baskerville, "Times New Roman";
}

h2{font-size:22px;
  font-family:Garamond, Baskerville, "Times New Roman";
 text-indent:20%;
  width: 80%;
}

p.place{
  font-family:Garamond, Baskerville, "Times New Roman";
  font-size:20px;
  text-indent:120px;
}

p.top{
  font-family:Garamond, Baskerville, "Times New Roman";
  font-size:22px;
  text-align: right;
}

p.name{
  font-family:Garamond, Baskerville, "Times New Roman";
  font-size:34px;
  text-align: right;
}

div.list{font-family:Garamond, Baskerville, "Times New Roman";
  font-size:20px;
  position:relative;
  left:200px;
} 

div.time{font-family:Garamond, Baskerville, "Times New Roman";
  font-size:20px;
  text-align: right;
}

